{% extends 'base.html' %}
    {% load bootstrap4 %}
{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Продукт</th>
      <th>Площадка</th>
        <th>Дата отгрузки</th>
        <th>Напечатано</th>
        <th></th>
        <th></th>
    </tr>
  </thead>
  <tbody>
{% if orders %}
    {% for order in orders %}
      <tr>
        <td>{{forloop.counter}}</td>
          <td><a href="{% url 'detail_order' order.id %}">{{order.product_name}}</a></td>
        <td>{{order.market}}</td>
        <td>{{order.delivery_time|date:"d.m.Y"}}</td>
          <td>{{ order.is_printed|yesno:"Да,Нет" }}</td>
      <td>
         <a href="{% url 'complete_order' order.id %}">Отправлено</a>
          <a href="{% url 'printed_order' order.id %}">Напечатано</a>
      </td>
      </tr>
    {% endfor %}
{% endif %}
      </tbody>
</table>
{% endblock %}